.Item {
  border-top: 1px dashed #cccccc;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-price {
  color: #404040;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
  padding: 20px 20px 20px 20px;
}

.Item-button {
  padding: 0px 12px;
  background-color: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #767676;
}
