.CartItem {
  width: 960px;
  min-height: 407px;
  border: 1px solid #767676;
  position: absolute;
  margin: 0 auto;
  top: 25%;
  left: 17%;
}

.CartItem-header {
  min-height: 80px;
  background-color: #f5f5f5;
}

.CartItem-title {
  margin: 0;
  font-size: 32px;
  padding: 20px 20px 10px;
}

.black {
  background-color: #767676;
  width: 100vw;
  height: 100vh;
}

.CartItem-wrapper {
  display: flex;
  align-items: center;
}
