.CartItem {
  display: grid;
  grid-template-columns: auto 2fr auto auto auto;
  border: 1px dashed #cccccc;
  align-items: center;
}

.CartItem-text {
  font-size: 16px;
  padding: 20px 10px;
}

.CartItem-code {
  padding: 20px 10px 20px 20px;
}

.CartItem-price,
.CartItem-quantity {
  padding-right: 10px;
  font-size: 18px;
  padding: 20px 10px 20px 20px;
}

.CartItem-button {
  padding: 0px 12px;
  background-color: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #767676;
}

.CartItem-actions {
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
  padding: 20px 20px 20px 20px;
}
